
body {
    font-family: Tahoma, sans-serif;
    /* original color: 15151e */
    background-color: #15151e;
    color: #00ccff;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 1%;
}

p, .textbox {
    text-align: center;
    font-size: 1.1em;
}

.textbox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}

.logo {
    user-select: none;
    display: inline !important;
    padding: 0;
    padding-left: 2%;
    padding-top: 2%;
    margin: 0;
}

.navbar {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 62px;
    
    overflow: hidden;
    background-color: #00000000;
}

.navbaritem {
    float: right;
}

.navbaritem a {
    user-select: none;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s linear;
    transform: translate(0, -50);

    text-align: center;
    border: 1px solid #777777;
    margin-right: 30px;
    border-radius: 10px; 
    padding: 7px 35px;
    text-decoration: none;
}

.navbaritem a:hover {
    /*Original: #00e6e6;*/
    background-color: #00ccff;
    transition: background-color 0.3s linear;
}

footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0b0b0f;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    left:0;
    position: fixed;
    width: 100%;
    bottom: 0;
}